<div class="col-sm-6 col-md-offset-3 ">

  <div class="panel">
    <div class="panel-heading">
      <h2 class="panel-title">Log in</h2>
    </div>



    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <form class="form-horizontal">
          <div class="panel-body">
            <div class="panel-body">
              <%= f.input :email, required: false, autofocus: true, class: 'form-group' %>
              <%= f.input :password, required: false, class: 'form-group' %>
              <%= f.input :remember_me, as: :boolean, class: 'form-group form-checkbox form-normal form-primary form-text' if devise_mapping.rememberable? %>

            </div>

          </div>
          <div class="panel-footer">

            <div class="row">
              <div class="col-sm-9">

                <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                    <%= link_to "Register", new_registration_path(resource_name), class: "btn btn-success" %>
                <% end -%>
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn btn-danger" %>
                <% end -%>

              </div>

              <div class="text-left col4">
                <%= f.button :submit, "Log in", class: "btn btn-mint" %>

              </div>

            </div>

          </div>
        </form>
    <% end %>


  </div>
</div>